.comment-list {
    background-color: #f2f2f5;
    margin-top: 10px;
    padding: 5px 15px
}

.comment-list .new-comment {
    position: relative;
    margin-left: 48px
}

.comment-list .new-comment .avatar {
    position: absolute;
    left: -48px
}

.comment-list .new-comment .sign-container, .comment-list .new-comment textarea {
    padding: 10px 15px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1);
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none
}

.comment-list .new-comment .sign-container {
    text-align: center
}

.comment-list .new-comment .btn-sign {
    width: 78px;
    margin: 11px 10px 0 0;
    padding: 7px 18px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff !important;
    background-color: #3194d0;
    outline: 0
}

.comment-list .new-comment .btn-sign:hover {
    background-color: #187cb7
}

.comment-list .new-comment .write-function-block {
    height: 50px
}

.comment-list .new-comment .write-function-block .emoji-modal {
    left: -48px
}

.comment-list .new-comment .emoji {
    float: left;
    margin-top: 14px
}

.comment-list .new-comment .emoji i {
    font-size: 20px;
    color: #969696
}

.comment-list .new-comment .emoji i:hover {
    color: #2f2f2f
}

.comment-list .new-comment .emoji-modal:after, .comment-list .new-comment .emoji-modal:before {
    left: 48px
}

.comment-list .new-comment .hint {
    float: left;
    margin: 20px 0 0 20px;
    font-size: 13px;
    color: #969696
}

.comment-list .new-comment .btn-send {
    float: right;
    width: 78px;
    margin: 10px 0;
    padding: 8px 18px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff !important;
    background-color: #42c02e;
    cursor: pointer;
    outline: 0;
    display: block
}

.comment-list .new-comment .btn-send:hover {
    background-color: #3db922
}

.comment-list .new-comment .cancel {
    float: right;
    margin: 18px 30px 0 0;
    font-size: 16px;
    color: #969696
}

.comment-list .new-comment .cancel:hover {
    color: #2f2f2f
}

.comment-list .new-comment span {
    font-size: 14px;
    vertical-align: -7px
}

.comment-list .top {
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0
}

.comment-list .top span {
    vertical-align: middle
}

.comment-list .comment {
    padding: 20px 0 30px;
    border-bottom: 1px solid #f0f0f0
}

.comment-list .comment p {
    font-size: 16px
}

.comment-list .author {
    margin-bottom: 15px
}

.comment-list .avatar {
    margin-right: 5px;
    width: 38px;
    height: 38px;
    vertical-align: middle;
    display: inline-block
}

.comment-list .comment-wrap .comment-delete, .comment-list .comment-wrap .report {
    float: right;
    margin: 12px 0 0 10px;
    display: none
}

.comment-list .comment-wrap:hover .comment-delete, .comment-list .comment-wrap:hover .report {
    display: inherit
}

.comment-list p {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 16px;
    word-break: break-word
}

.comment-list p a, .comment-list p a:hover {
    color: #3194d0
}

.comment-list .info {
    display: inline-block;
    vertical-align: middle
}

.comment-list .name {
    font-size: 15px;
    color: #333
}

.comment-list .name:hover {
    color: #2f2f2f
}

.comment-list .author-tag {
    margin-left: 2px;
    padding: 0 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    border-radius: 3px;
    vertical-align: middle
}

.comment-list .meta {
    font-size: 12px;
    color: #969696
}

.comment-list .meta span {
    margin-right: 6px
}

.comment-list .tool-group a {
    margin-right: 10px;
    font-size: 0;
    color: #969696;
    display: inline-block
}

.comment-list .tool-group a:hover {
    color: #333
}

.comment-list .tool-group a:hover .ic-zan {
    color: #ea6f5a
}

.comment-list .tool-group a i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle
}

.comment-list .tool-group a span {
    vertical-align: middle;
    font-size: 14px
}

.comment-list .tool-group a.active i {
    color: #ea6f5a
}

.comment-list .tool-group a.active span {
    color: #333
}

.comment-list .normal-comment-list {
    margin-top: 10px
}

.comment-list .normal-comment-list .top .author-only {
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 12px;
    color: #969696;
    border: 1px solid #e1e1e1;
    border-radius: 3px
}

.comment-list .normal-comment-list .top .author-only.active {
    color: #fff;
    border: 1px solid #ea6f5a;
    background-color: #ea6f5a
}

.comment-list .normal-comment-list .top .close-btn {
    margin-left: 10px;
    font-size: 12px;
    color: #969696
}

.comment-list .normal-comment-list .top .pull-right a {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #969696;
    display: inline-block
}

.comment-list .normal-comment-list .top .pull-right .active, .comment-list .normal-comment-list .top .pull-right a:hover {
    color: #2f2f2f
}

.comment-list .normal-comment-list .close-comment, .comment-list .normal-comment-list .no-author-comment, .comment-list .normal-comment-list .no-comment {
    width: 226px;
    height: 92px;
    margin: 30px auto 20px;
    background: url(//cdn2.jianshu.io/assets/web/icon_comment_no-1b12627d360515e52c3c4dfc2f6b0eb7.png) no-repeat;
    background-size: contain
}

.comment-list .normal-comment-list .close-comment {
    background: url(//cdn2.jianshu.io/assets/web/icon_comment_close-1977c458f0eb7900b53b422cac10c713.png) no-repeat;
    background-size: contain
}

.comment-list .normal-comment-list .no-author-comment {
    background: url(//cdn2.jianshu.io/assets/web/icon_comment_no_writer-511f994389aa2409f189d680b13ff5ed.png) no-repeat;
    background-size: contain
}

.comment-list .normal-comment-list .text {
    margin-bottom: 50px;
    text-align: center;
    font-size: 12px;
    color: #969696
}

.comment-list .normal-comment-list .text a, .comment-list .normal-comment-list .text a:hover {
    color: #3194d0
}

.comment-list .normal-comment-list .open-block {
    padding: 30px 0 50px;
    text-align: center;
    border-top: 1px solid #f0f0f0
}

.comment-list .normal-comment-list .open-block .open-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #969696;
    border: 1px solid #dcdcdc;
    border-radius: 4px
}

.comment-list .sub-comment-list {
    padding: 5px 0 5px 20px;
    border-left: 2px solid #d9d9d9;
    background-color: #eaeaec
}

.comment-list .sub-comment-list p {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 1.5
}

.comment-list .sub-comment-list a, .comment-list .sub-comment-list a:hover {
    color: #3194d0
}

.comment-list .sub-comment-list .new-comment {
    margin: 0
}

.comment-list .sub-comment-list .new-comment .sign-container, .comment-list .sub-comment-list .new-comment textarea {
    width: 100%
}

.comment-list .sub-comment-list .new-comment .emoji {
    margin: 15px 0 0
}

.comment-list .sub-comment-list .emoji-modal-wrap .emoji-modal {
    left: -48px
}

.comment-list .sub-comment {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #f0f0f0
}

.comment-list .sub-comment:last-child {
    margin: 0;
    padding: 0;
    border: none
}

.comment-list .sub-comment .report, .comment-list .sub-comment .subcomment-delete {
    float: right;
    margin: 1px 0 0 10px;
    display: none
}

.comment-list .sub-comment:hover .report, .comment-list .sub-comment:hover .subcomment-delete {
    display: inherit
}

.comment-list .sub-tool-group {
    font-size: 12px;
    color: #969696
}

.comment-list .sub-tool-group a {
    margin-left: 10px;
    color: #969696
}

.comment-list .sub-tool-group a:hover {
    color: #333
}

.comment-list .sub-tool-group a i {
    margin-right: 5px;
    font-size: 14px;
    vertical-align: middle
}

.comment-list .sub-tool-group a span {
    vertical-align: middle
}

.comment-list .more-comment {
    font-size: 14px;
    color: #969696;
    border: none
}

.comment-list .add-comment {
    margin-top: 10px
}

.comment-list .add-comment-btn {
    color: #969696 !important
}

.comment-list .add-comment-btn:hover {
    color: #333 !important
}

.comment-list .add-comment-btn i {
    margin-right: 5px
}

.comment-list .line-warp {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #d9d9d9
}

.comments-placeholder {
    padding: 20px 0 30px
}

.comments-placeholder .author {
    margin-bottom: 15px
}

.comments-placeholder .author .avatar {
    cursor: default !important;
    margin-right: 5px;
    width: 38px;
    height: 38px;
    background-color: #eaeaea;
    border-radius: 50%
}

.comments-placeholder .author .avatar, .comments-placeholder .author .info {
    vertical-align: middle;
    display: inline-block
}

.comments-placeholder .author .info .name {
    margin-bottom: 6px;
    height: 15px;
    width: 60px;
    background-color: #eaeaea
}

.comments-placeholder .author .info .meta {
    height: 12px;
    width: 120px;
    background-color: #eaeaea
}

.comments-placeholder .text {
    width: 100%;
    height: 16px;
    margin: 0 0 8px !important;
    background-color: #eaeaea;
    animation: loading 1s ease-in-out infinite;
    -webkit-animation: loading 1s ease-in-out infinite;
    -moz-animation: loading 1s ease-in-out infinite;
    -o-animation: loading 1s ease-in-out infinite;
    -ms-animation: loading 1s ease-in-out infinite
}

.comments-placeholder .animation-delay {
    animation: loading 1s ease-in-out -.5s infinite;
    -webkit-animation: loading 1s ease-in-out -.5s infinite;
    -moz-animation: loading 1s ease-in-out -.5s infinite;
    -o-animation: loading 1s ease-in-out -.5s infinite;
    -ms-animation: loading 1s ease-in-out -.5s infinite
}

.comments-placeholder .tool-group {
    margin: 0;
    padding-top: 6px;
    color: #eaeaea;
    font-size: 15px
}

.comments-placeholder .tool-group div {
    display: inline-block;
    vertical-align: middle;
    background-color: #eaeaea
}

.comments-placeholder .tool-group i {
    margin-right: 5px;
    vertical-align: middle
}

.comments-placeholder .tool-group .zan {
    height: 14px;
    width: 40px;
    margin-right: 10px
}

.sub-comments-placeholder {
    padding-top: 6px
}

.sub-comments-placeholder .text {
    width: 100%;
    height: 16px;
    margin: 0 0 8px !important;
    background-color: #eaeaea;
    animation: loading 1s ease-in-out infinite;
    -webkit-animation: loading 1s ease-in-out infinite;
    -moz-animation: loading 1s ease-in-out infinite;
    -o-animation: loading 1s ease-in-out infinite;
    -ms-animation: loading 1s ease-in-out infinite
}

.sub-comments-placeholder .animation-delay {
    animation: loading 1s ease-in-out .5s infinite;
    -webkit-animation: loading 1s ease-in-out .5s infinite;
    -moz-animation: loading 1s ease-in-out .5s infinite;
    -o-animation: loading 1s ease-in-out .5s infinite;
    -ms-animation: loading 1s ease-in-out .5s infinite
}

.sub-comments-placeholder .tool-group {
    margin-top: -2px;
    color: #eaeaea
}

.sub-comments-placeholder .tool-group div {
    display: inline-block;
    vertical-align: middle;
    background-color: #eaeaea
}

.sub-comments-placeholder .tool-group i {
    font-size: 13px;
    margin: 0 5px 0 10px;
    vertical-align: middle
}

.sub-comments-placeholder .tool-group .time {
    width: 96px;
    height: 12px
}

.sub-comments-placeholder .tool-group .comment {
    padding: 0 !important;
    width: 24px;
    height: 12px
}